* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns:  300px 1fr;
}

.icone-e-texto {
    display: flex;
    align-items: center;
}


.icone {
    height: 30px;
    width: 30px;
}


header {
    display: flex;
    background-color: mediumvioletred;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 20px;
    grid-column: 1/-1;
}


nav {
    background-color: #f2d0e0;
    padding: 10px;
}


.botao-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 5px darkgray;
}


.imagem-card {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: mediumvioletred;
    grid-column: 1/-1;
}

h2, p {
    padding: 12px;
}
